{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %} tylko dla zalogowanych {% endif %}
{% if form.errors  %}
<p class="errorlist">Bledna nazwa uzytkownika lub haslo</p>
{% endif %}

<h3>Zaloguj:</h3>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>Nazwa użytkownika:</td>
            <input type="text" placeholder="Nazwa uzytkownika" name="username">
        </tr>
        <tr>
            <td>Hasło:</td>
            <td><input type="password" placeholder="Hasło" name="password"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="hidden" name="next" value="{{ next }}"></td>

        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Log in"></td>
        </tr>
    </table>
</form>
<small><a href="{% url 'password_reset' %}">Zapomniane hasło</a></small>

{% endblock %}